// src/styles.scss
@use '@angular/material' as mat;

:root {
  --primary-color: #4A90E2;
  --light-color: #F5F5F5;
  --dark-color: #333333;
  --light-accent-color: #E0E0E0;
  --dark-accent-color: #666666;

  // Material theme színek CSS változóként, ha szükséges
  // Ezeket a mat.get-color-config() és hasonló függvényekkel nyerheted ki,
  // de egyszerűbb esetben közvetlenül is megadhatod őket.
  // Pl. --mat-primary: mat.get-color-from-palette(mat.$azure-palette, 500);
}

html {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    // typography: Roboto, // Ezt a Roboto fontot már az index.html-ben linkeled
    density: 0
  ));
}

.theme-dark {
  color-scheme: dark;
  // Itt felülírhatod a :root változókat sötét témához
  // --primary-color: ...;
  // --light-color: ...;
}

html, body {
  color: var(--dark-color); // Használat: var(--css-valtozo-nev)
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }

body {
  // A háttérstílusok maradhatnak, ahogy voltak, vagy itt is használhatsz CSS változókat
  background: radial-gradient(circle, transparent 20%, var(--light-color) 20%, var(--light-color) 80%, transparent 80%, transparent) 0 0% / 64px 64px, radial-gradient(circle, transparent 20%, var(--light-color) 20%, var(--light-color) 80%, transparent 80%, transparent) 32px 32px / 64px 64px, linear-gradient(rgba(75, 146, 227, 0.15) 2px, transparent 2px) 0px -1px / 32px 32px, linear-gradient(90deg, rgba(75, 146, 227, 0.15) 2px, var(--light-color) 2px) -1px 0px / 32px 32px var(--light-color);
  background-size: 64px 64px, 64px 64px, 32px 32px, 32px 32px;
}

.container { // Ez egy általános container stílus, lehet, hogy nem mindenhol ugyanaz kell
  border: 3px solid var(--light-accent-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  width: 60%; // Ez mobil nézetben problémás lehet, érdemesebb max-width-ot használni és %-os szélességet
  // max-width: 600px; /* Példa */
  // width: 90%; /* Mobilra */
  margin-left: auto;
  margin-right: auto;
}

